
[*]

# Microsoft .NET properties
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = extern, public, private, internal, unsafe, static, protected, override, new, async, sealed, readonly, virtual, volatile, abstract, file, required:suggestion
csharp_preserve_single_line_blocks = true
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

# ReSharper properties
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_statement_conditions = false
resharper_allow_comment_after_lbrace = true
resharper_arguments_skip_single = true
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_property = 0
resharper_blank_lines_around_single_line_field = 0
resharper_blank_lines_around_single_line_type = 0
resharper_braces_for_fixed = required_for_multiline
resharper_braces_for_foreach = not_required
resharper_braces_for_ifelse = not_required
resharper_braces_for_using = required_for_multiline
resharper_constructor_or_destructor_body = expression_body
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_around_type = 0
resharper_csharp_insert_final_newline = true
resharper_csharp_keep_blank_lines_in_code = 100
resharper_csharp_keep_blank_lines_in_declarations = 100
resharper_csharp_max_line_length = 378
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_declaration_rpar = true
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_csharp_wrap_ternary_expr_style = wrap_if_long
resharper_indent_braces_inside_statement_conditions = false
resharper_instance_members_qualify_declared_in = 
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_enum_arrangement = false
resharper_max_array_initializer_elements_on_line = 2
resharper_max_attribute_length_for_same_line = 70
resharper_parentheses_non_obvious_operations = none, shift, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise
resharper_parentheses_redundancy_style = remove
resharper_parentheses_same_type_operations = true
resharper_place_expr_accessor_on_single_line = true
resharper_place_simple_initializer_on_single_line = false
resharper_wrap_array_initializer_style = chop_always
resharper_wrap_object_and_collection_initializer_style = chop_always
